.listItem {
  margin: 10px 0;
}

.listItem__text {
  font-size: 16px;
  line-height: 28px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(49, 49, 49);
  width: 80%;
}

.listItem__text--selected {
  background-color: gray;
}

.listItem__options {
  display: flex;
  gap: 10px;
}

.listItem__read,
.listItem__edit  {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
