.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__time {
    display: flex;
    max-width: 100%;
    gap: 5px;
  }

  &__timeInput {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      width: auto;
    }
  }
}
