.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__time {
  display: flex;
  max-width: 100%;
  gap: 5px;
}

.form__timeInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__timeInput input {
  width: auto;
}