.tasksItem {
  display: flex;
  gap: 10px;
}

.tasksItem__text {
  font-size: 22px;
  line-height: 28px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(49, 49, 49);
  margin: 10px 0;
}

.tasksItem__text--selected {
  background-color: gray;
}

.tasksItem__options {
  display: flex;
  gap: 10px;
}